In [1]:
import pandas as pd

In [14]:
kickoff= pd.read_csv('./data_files/KICKOFF.csv',header=2)
s1_w1 = pd.read_csv('./data_files/S1Wk1.csv',header=2)
s1_w2 = pd.read_csv('./data_files/S1 Wk2.csv',header=2)
s1_w3 = pd.read_csv('./data_files/S1 Wk3.csv',header=2)
s1_Major = pd.read_csv('./data_files/S1 Major.csv',header=2)
s2_w1 = pd.read_csv('./data_files/S2 Wk1.csv',header=2)
s2_w2 = pd.read_csv('./data_files/S2 Wk2.csv',header=2)
s2_w3 = pd.read_csv('./data_files/S2 Wk3.csv',header=2)
s2_Major = pd.read_csv('./data_files/S2 Major.csv',header=2)
s3_w1 = pd.read_csv('./data_files/S3 Wk1.csv',header=2)
s3_w2 = pd.read_csv('./data_files/S3 Wk2.csv',header=2)
s3_w3 = pd.read_csv('./data_files/S3 Wk3.csv',header=2)
s3_Major = pd.read_csv('./data_files/S3 Major.csv',header=2)
s4_w1 = pd.read_csv('./data_files/S4 Wk1.csv',header=2)
s4_w2 = pd.read_csv('./data_files/S4 Wk2.csv',header=2)
s4_w3 = pd.read_csv('./data_files/S4 Wk3.csv',header=2)
s4_Major = pd.read_csv('./data_files/S4 Major.csv',header=2)

In [11]:
def fix_data(data):


    data = data[['Map', 'Team', 'P1', 'P2', 'P3', 'P4', 'P5', 'P1.1', 'P2.1', 'P3.1',
            'P4.1', 'P5.1', 'P1.2', 'P2.2', 'P3.2', 'P4.2', 'P5.2', 'Total']]

    return data

In [114]:
global data
data = fix_data(s4_Major)

In [116]:
data[:134]

,Map,Team,P1,P2,P3,P4,P5,P1.1,P2.1,P3.1,P4.1,P5.1,P1.2,P2.2,P3.2,P4.2,P5.2,Total
0,Tuscan,Ultra,21,2,26,27,25,14,30,4,26,34,20,20,NaN,NaN,NaN,249
1,Tuscan,Royal Ravens,21,40,15,21,12,37,8,43,27,5,19,2,NaN,NaN,NaN,250
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,Total
4,Berlin,Ultra,40,10,41,12,21,22,24,23,2,13,12,30,NaN,NaN,NaN,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Berlin,Thieves,31,30,8,55,27,20,34,40,5,NaN,NaN,NaN,NaN,NaN,NaN,250
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,Total
132,Tuscan,Subliners,3,24,13,18,34,0,33,7,31,NaN,NaN,NaN,NaN,NaN,NaN,163
133,Tuscan,Thieves,32,29,33,28,15,57,10,41,5,NaN,NaN,NaN,NaN,NaN,NaN,250

In [117]:
rows = []
for x in range(0,134,4):
    rows.append(x)
    rows.append(x+1)

data = data.iloc[rows]

In [118]:
final_data = final_data.append(data, ignore_index=True)
final_data

,Map,Team,P1,P2,P3,P4,P5,P1.1,P2.1,P3.1,P4.1,P5.1,P1.2,P2.2,P3.2,P4.2,P5.2,Total
0,Bocage,Mutineers,19,23,11,13,34,10,17,31,15,22,19,11,25,NaN,NaN,250
1,Bocage,Guerrillas,3,23,20,30,5,10,31,12,31,24,19,28,10,NaN,NaN,246
2,Berlin,Mutineers,25,12,54,0,12,26,33,44,31,13,NaN,NaN,NaN,NaN,NaN,250
3,Berlin,Guerrillas,18,32,0,41,11,22,17,11,9,1,NaN,NaN,NaN,NaN,NaN,162
4,Bocage,Surge,27,38,5,30,8,30,2,8,38,16,29,19,NaN,NaN,NaN,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,Bocage,Thieves,12,0,28,21,15,20,38,8,23,32,8,0,NaN,NaN,NaN,205
736,Berlin,Subliners,9,10,43,0,0,33,12,10,23,NaN,NaN,NaN,NaN,NaN,NaN,140
737,Berlin,Thieves,31,30,8,55,27,20,34,40,5,NaN,NaN,NaN,NaN,NaN,NaN,250
738,Tuscan,Subliners,3,24,13,18,34,0,33,7,31,NaN,NaN,NaN,NaN,NaN,NaN,163
739,Tuscan,Thieves,32,29,33,28,15,57,10,41,5,NaN,NaN,NaN,NaN,NaN,NaN,250

In [122]:
final_data.to_csv('./data_files/HP_final.csv', index=False)